*{
    padding: 0;
    margin: 0;
    color: black;

}

html,body{

    background-color: orange;

}
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    .banner a{
        text-decoration: none;
    }
        .banner aside{
            width: 15rem;
        }
aside{
    width: 20%;
    height: 30px;
    margin: 5px;
    padding: 1rem;
    border: 3px solid rgb(00,00,00);
    background-color:snow;
    text-align: center;
}

.maincontainer{
    border: 4px solid rgb(10, 10, 100);
    border-radius: 20px;
     margin: 3rem;
     width: 90%;
     height: 100px;
     background-color: white;
}
    .article1{
        width: 20%;
        margin: 5px;
        padding: 1rem;
        border: 2px solid rgb(00,00,00);
        background-color: silver;
        display: inline-block;
        text-align: center;
        border-radius: 15px;

    }

.container1{
    border: 5px solid rgb(100,00,150);
    background-color: white;
    margin: 1rem;
    width: 97%;
    height: 300px;
    border-radius: 10px;  
    }
.container2{
    border: 5px;
    margin: 5px;
    width: 75%;
    height: 190px;
    text-align: center;
    display: inline-block;
}    
.container3{
    border: 5px;
    margin: 1rem;
    width: 15%;
    height: 190px;
    display: inline-block;
}
    .img1{
        width: 140px;
        height: 140px;
        margin: 1rem;
        border: 2px solid rgb(00,00,00);
    }
.container4{
    border: 5px solid rgb(100,190,00);
    background-color: white;
    margin: 1rem;
    width: 97%;
    height: 750px;
    border-radius: 10px; 
}
    .container5{
        border: 5px  rgb(00,00,00);
        margin: 5px;
        width: 15%;
        height: 290px;
        display: inline-block;
    }
    
    .container6{
        border: 5px rgb(00,00,00); 
        margin: 5px;
        width: 75%;
        height: 290px;
        display: inline-block;
        text-align: center;
    }
.container7{
    border: 5px solid rgb(200,10,10);
    background-color: white;
    margin: 1rem;
    width: 97%;
    height: 190px;
    border-radius: 10px;  
}     
.container8{
    border: 5px rgb(00,00,00); 
    margin: 1rem;
    width: 97%;
    height: 190px;
    display: inline-block;
    text-align: justify;
}
    .h1{
        text-align: center;
    }
.container9{
    border: 5px solid rgb(200,00,150); 
    margin: 1rem;
    width: 97%;
    height: 190px;
    text-align: justify;
    background-color: white;
    border-radius: 10px;
}





