body{
    background-color: #1C188C;
    line-height: 1.3rem ;
    font-size: 1rem;
    margin: 0;
    padding: auto;
    line-height: 200%;
}


.header{
    background: #3D64F2 ;
    color: white;
    padding: 1.5rem 1rem;
    font-size: 2rem;
    right: 0;
    top: 0;
    left: 0;
}   
        .header a{
        text-decoration: none;
        color: white;
    }

    .cabecera{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .cabecera ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        .cabecera ul li{
            display: inline-block;
        }
            .cabecera ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.4s linear;
                border-radius: 10px;
            }
            .cabecera ul li a:hover{
                background: gray;
            }
/*Inicia body*/
.maincontainer{
    width: 90%;
    max-width: 910px;
    margin: 2rem auto;
    border:3px;
    border-radius: 10px;
    justify-content: space-between;
}            

.header1{
    background: #17BF30 ;
    color: white;
    padding: 2rem 3rem;
    font-size: 2rem;
    right: 0;
    top: 0;
    left: 0;
    border-radius: 10px;
}   
        .header1 a{
        text-decoration: none;
        color: white;
    }

    .cabecera1{
        display: flex;
        justify-content: space-between;
        align-items:center;
    }
    .cabecera1 ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
        .cabecera1 ul li{
            display: inline-block;
        }
            .cabecera1 ul li a{
                display: block;
                padding: 0.5rem 1rem;
                transition: all 0.4s linear;
                border-radius: 10px;
            }
            .maincontainer ul li a:hover{
                color: black;
                background: white;
            }
            input.problema-input{
                padding: 1rem;
                color: rgb(34, 34, 34);
                background: none;
                border: none;
                border-bottom:2px solid #17A67D;
                width:100%;
            }
            .problema-button{
                border: none;
                background-color: #17A67D;
                color: white;              
                font-weight: bold;
                padding: 0.8rem;
                border-radius:4px;
                box-shadow:0 1px 3px gray;
            }     


