*{
    padding:0;
    margin:0;
    color:black;
    text-align: center ;


}
html , body {
 
  
background-color: blanchedalmond;

}
.main-container{
    border: 4px solid rgb(10, 10, 100);
    border-radius: 20 px;
     margin: 1rem;
     width: 100%;
     background-color: white;

}

nav, section, footer, article, aside{
    border: 5px solid rgb(00, 00, 00);
    margin: 1rem;
    padding: auto;
    background-color: gray;
}
nav{
    width: 100%;
}
article{
    width: 100%;
}
a{
    color: blue;
}
